{% extends "base.html" %}
{% block content %}

	<div class="container p-4">
		<h2>Módulos</h2>
		
		{%	if user %}
			<h6>Bienvenido {{ user.nickname() }}</h6> 
			{% if admin %}
				<h6>(Administrador)</h6>
			{% endif%}
		{% endif %}
	</div>
	
	<div class="container pb-3">
			
				
				<table class="table" id="tabla">
	                  
	                  <thead> 
		            		<tr>
		            			<th style="width: 10%" class="text-center align-middle"> <!--boton ver campañas--> <th>
						    <th style="width: 26.5%" class="text-center align-middle">Nombre</th>
						    <th style="width: 10%" class="text-center align-middle d-none d-md-table-cell">Alpha</th> 
						    <th style="width: 10%" class="text-center align-middle d-none d-md-table-cell">Beta</th>
						    <th style="width: 10%" class="text-center align-middle d-none d-md-table-cell">Gamma</th>
						    <th style="width: 10%" class="text-center align-middle d-none d-md-table-cell">Kappa</th>
						    	<th style="width: 20%" class="text-center align-middle"> <!--Boton editar y eliminar --> <th>
			  			</tr>
		  			</thead>
		  			<tbody>
			  			{% for module in modules %}
				  			<tr>
				  				 <td class="text-center align-middle"> <a type="link" class="text-secundary" href="/campanyas/{{module.key().id()}}"> Campañas </a>  <td>
						  		 <td class="text-center align-middle">{{ module.name }}</td>
						  		 <td class="text-center align-middle d-none d-md-table-cell">{{ module.alpha }}</td>
						  	     <td class="text-center align-middle d-none d-md-table-cell">{{ module.beta }}</td>
						  	     <td class="text-center align-middle d-none d-md-table-cell">{{ module.kappa }}</td>
						  	     <td class="text-center align-middle d-none d-md-table-cell">{{ module.gamma }}</td>
						  	     {% if admin %}
							  	     <td class="text-center align-middle"> 
			                          	<a type="button" class="btn btn-secondary rounded" href="/module/edit/{{ module.key().id() }}">
			                             	<span class="material-icons align-middle">edit</span>
			                                 <span class="d-none d-md-inline">Editar</span>
			                            </a>
			                            <a type="button" class="btn btn-danger rounded" href="/module/delete/{{ module.key().id() }}">
			                            		<span class="material-icons align-middle">remove</span>
			                            		<span class="d-none d-md-inline-block align-middle">Borrar</span>
			                            </a>
			                         </td>
		                         {% endif %}   
						  	     
				  			</tr>
		  		   {% endfor %}
		  		   </tbody>
		  		   
	             </table>
			
			<p>
				{% if not user %}
					<a type="button" class="btn btn-success rounded" href="/login">
						<span class="material-icons align-middle"> input </span> 
						<span class="d-none d-md-inline-block align-middle">Entrar</span>
					</a>
				{% else %}
					<a type="button" class="btn btn-danger rounded" href="/logout">
						<span class="material-icons align-middle"> exit_to_app </span> 
						<span class="d-none d-md-inline-block align-middle">Salir</span>
					</a>
				{% endif %}
				{% if admin %}
					<a type="button" class="btn btn-primary rounded" href="/module/new">
		             	<span class="material-icons align-middle"> add </span>
		                 <span class="d-none d-md-inline-block align-middle">Nuevo</span>
		            </a>
		        {% endif %}
	            <a type="button" class="btn btn-primary rounded" href="/calendar">
                 	<span class="material-icons align-middle">calendar_today</span>
                     <span class="d-none d-md-inline-block align-middle">Calendario</span>
                </a>
             </p>
		
		
	</div>                        

{% endblock content %}
